@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add styles using Tailwind CSS classes or utilities */
#app {
  @apply h-full; /* Apply Tailwind utility classes to set height to 100% */
}

html,
body {
  @apply relative h-full; /* Apply Tailwind utility classes to set position to relative and height to 100% */
  background-color: #eee; /* Set background color */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Swiper Styles */
.swiper {
  @apply w-full h-full; /* Apply Tailwind utility classes to set width and height to 100% */
}

.swiper-slide {
  @apply text-center text-lg bg-white; /* Apply Tailwind utility classes for text alignment, font size, and background color */
  /* Center slide text vertically */
  @apply flex justify-center items-center; /* Apply Tailwind utility classes for flexbox alignment */
}

.swiper-slide img {
  @apply block w-full h-full object-cover; /* Apply Tailwind utility classes for image display */
}
